[submodule "FlapPyBird"]
	path = FlapPyBird
	url = https://github.com/sourabhv/FlapPyBird.git
[submodule "sentaur-survivors"]
	path = sentaur-survivors
	url = https://github.com/sentry-demos/unity.git
